{% assign assets_base_url = site.url %} 
{% if site.cdn.jsdelivr.enabled %} 
{% assign assets_base_url = site.cdn.jsdelivr.url %} 
{% endif %}

<div class="container">
    <div class="row">
        <div class="col-lg-4 mb-3">
            <a class="d-inline-flex align-items-center mb-2 link-dark text-decoration-none" href="{{ site.url }}" aria-label="CubeBit">
                <img src="{{ assets_base_url }}{{ '/assets/icon/logo-without-name.png?v=' | append: site.github.build_revision | relative_url }}" class="rounded float-start" height="32" alt="CubeBit">
                <span class="fs-5" style="margin-left: 8px;">CubeBit</span>
            </a>
            <ul class="list-unstyled small text-muted mt-3">
                <li class="mb-2">
                    Designed and built with all the love in the world by the
                    <a href="{{ '/about/team' | relative_url }}">CubeBit team</a>
                    with the help of
                    <a href="https://github.com/orgs/CubewiseBit/people">our members</a>.
                </li>
                <li class="mb-2">
                    Code licensed
                    <a href="https://github.com/CubewiseBit/cubewisebit.github.io/blob/main/LICENSE" target="_blank" rel="license noopener">Apache License 2.0</a>.
                </li>
            </ul>
        </div>

        <div class="col-6 col-lg-3 offset-lg-1 mb-3">
            <h5>文档</h5>
            <ul class="list-unstyled small text-muted mt-4">
                <li class="mb-2"><a href="{{ site.url }}">首页</a></li>
            </ul>
        </div>

        <div class="col-6 col-lg-3 mb-3">
            <h5>资源</h5>
            <ul class="list-unstyled small text-muted mt-4">
                <li class="mb-2"></li>
            </ul>
        </div>
    </div>
</div>