html,
body {
    height: 100%;
}

.header-container {
    position: fixed;
    width: 100%;
    height: auto;
    min-height: 58px;
    z-index: 999;

    background: url('/assets/images/black_dot.png') repeat;

    .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }
}

.main-container {
    position: relative;
    top: 0;
    box-sizing: border-box;
    min-height: 100%;
    padding-top: 58px;

    $content-padding: 16px;
    $footer-padding: 60px;
    $footer-height: ($footer-padding) * 2+280px;

    .contant-container {
        padding-top: $content-padding;
        padding-bottom: $content-padding + $footer-height;
    }

    .footer-container {
        padding-top: $footer-padding;
        padding-bottom: $footer-padding;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: $footer-height;

        a {
            color: #495057;
            text-decoration: none;
        }
    }
}

.container-padding {
    padding-left: 20px;
    padding-right: 20px;
}

@media screen and (min-width: 576px) {
    .container-padding {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media screen and (min-width: 768px) {
    .container-padding {
        padding-left: 60px;
        padding-right: 60px;
    }
}