---
layout: default
---
<!-- highlight -->
<!-- https://highlightjs.org/ -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/styles/default.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/highlight.min.js" integrity="sha512-gU7kztaQEl7SHJyraPfZLQCNnrKdaQi5ndOyt4L4UPL/FHDd/uB9Je6KDARIqwnNNE27hnqoWLBq+Kpe4iHfeQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlightjs-line-numbers.js/2.8.0/highlightjs-line-numbers.min.js" integrity="sha512-axd5V66bnXpNVQzm1c7u1M614TVRXXtouyWCE+eMYl8ALK8ePJEs96Xtx7VVrPBc0UraCn63U1+ARFI3ofW+aA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
  hljs.highlightAll();
  hljs.initLineNumbersOnLoad();
</script>

<!-- lodash -->
<!-- https://lodash.com/ -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js" referrerpolicy="no-referrer"></script>

<div class="container-xxl my-md-4 bd-layout">
  <aside class="bd-sidebar">
    {% include docs/docs_side.html %}
  </aside>
  <main class="bd-main order-1">
    <div class="bd-toc mt-4 mb-5 my-md-0 ps-xl-3 mb-lg-5 text-muted">
      {% include docs/docs_toc.html %}
    </div>
    <section class="bd-intro ps-lg-4 mb-4 mb-lg-0 mb-md-0">
      {% if !!page.github %}
      <i class="bi bi-github" style="margin: auto .2rem auto 0"></i>
      <a href="{{ page.github }}" target="_blank">View On GitHub</a>
      {% else if !!page.permalink %}
      <i class="bi bi-bookmark-fill" style="margin: auto .2rem auto 0"></i>
      <a href="{{ page.permalink | relative_url }}">{{ page.permalink }}</a>
      {% endif %}
    </section>
    <section class="bd-content ps-lg-4">
      {{ content }}
    </section>
  </main>
</div>